<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans:300|Oswald|Raleway:500|Roboto:300" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #f8f9fa;
            font-family: "Roboto", sans-serif;
        }
        .btn:focus,.btn:active {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>
    <title>flats.ee</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-light mb-4">
    <a class="navbar-brand text-secondary" href="#">flats.ee</a>
    <img th:src="@{/images/flats.png}" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-secondary" href="#">Objektid<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Lepingud</a>
            </li>
        </ul>
        <a class="" href="/logout">Logi välja</a>
    </div>
</nav>

<div class="container mb-3">
    <h4 class="d-inline">Minu objektid
    </h4>
    <a href="#" class="d-inline float-right btn btn-outline-primary btn-sm">+ Lisa objekt</a>
    <div class="dropdown float-right mr-2">
        <a class="btn btn-sm btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Objekti tüüp
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Korter</a>
            <a class="dropdown-item" href="#">Tuba</a>
            <a class="dropdown-item" href="#">Garaaž</a>
        </div>
    </div>
    <div class="dropdown float-right mr-2">
        <a class="btn btn-sm btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Olek
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Aktiivne</a>
            <a class="dropdown-item" href="#">Vaba</a>
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-sm-3 shadow">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Korter
                        <span class="float-right">
                            <a href="">...</a>
                        </span>
                    </h5>
                    <p class="card-text mb-1"><small>Aadress: Tehnika 27-11, Tallinn</small></p>
                    <p class="card-text mb-1"><small>Suurus: 68.90m2</small></p>
                    <p class="card-text mb-1"><small>Tube: 3</small></p>
                    <p class="card-text mb-1"><small>Leping: Aktiivne</small></p>
                    <span class="text-danger"><small></small></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Korter <small><span class="badge badge-pill badge-primary">!</span></small></h5>
                    <p class="card-text mb-1"><small>Aadress: Lõokese 5-9, Tallinn</small></p>
                    <p class="card-text mb-1"><small>Suurus: 127.00m2</small></p>
                    <p class="card-text mb-1"><small>Tube: 4</small></p>
                    <p class="card-text mb-1"><small>Leping: Aktiivne</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Garaaž</h5>
                    <p class="card-text mb-1"><small>Aadress: Seebi 17-2, Tallinn</small></p>
                    <p class="card-text mb-1"><small>Suurus: 18.00m2</small></p>
                    <p class="card-text mb-1"><small>Tube: 1</small></p>
                    <p class="card-text mb-1"><small>Leping: Aktiivne</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Garaaž</h5>
                    <p class="card-text mb-1"><small>Aadress: Seebi 12-3, Tallinn</small></p>
                    <p class="card-text mb-1"><small>Suurus: 18.00m2</small></p>
                    <p class="card-text mb-1"><small>Tube: 1</small></p>
                    <p class="card-text mb-1"><small>Leping: Aktiivne</small></p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>