<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>flats.ee</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body class="bg-light">
    <div layout:fragment="content" th:remove="tag">
    <div class="container w80 shadow">
        <div class="pt-5 pb-4 text-center">
            <h2 th:text="'Üürileping #'+ ${contract.contractNumber}">Üürilepingu andmed</h2>
        </div>
        <div class="alert text-danger" role="alert">
            <small th:if="${error}" th:text="${error}">In case alert is needed</small>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 order-md-1">
                <form class="needs-validation" novalidate th:action="@{/units/{id}/contracts(id=${unitId})}" th:object="${contract}" method="post">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <input type="hidden" th:field="*{contractNumber}" />
                            <label for="objectAddress">OBJEKTI AADRESS</label>
                            <input type="email"  id="objectAddress" th:field="*{objectAddress}" placeholder="näit. Õismäe tee 142-200, Tallinn" readonly>
                            <div class="invalid-feedback">
                                Please enter a valid object address.
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="objectRoom">Toa nr</label>
                            <input type="text" id="objectRoom" th:field="*{objectRoom}" placeholder="1a" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="contractType">Lepingu tüüp</label>
                            <select class="custom-select d-block w-100" id="contractType" th:field="${contract.contractType.id}" required>
                                <option th:each="type : ${allContractTypes}"
                                        th:value="${type.id}"
                                        th:text="${type.contractType}">Lepingu tüüp</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid contract type.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 mb-2">
                            <label for="created">Lepingu algus</label>
                            <input type="text" class="input-calendar" id="created" th:field="*{created}" placeholder="15/04/2018" data-toggle="datepicker" required>
                            <div class="invalid-feedback">
                                Please select a valid date.
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="contractTerm">Lepingu lõpp</label>
                            <input type="text" class="input-calendar" id="contractTerm" th:field="*{contractTerm}" placeholder="15/04/2018" data-toggle="datepicker" required>
                            <div class="invalid-feedback">
                                Please provide a valid date.
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="invoiceSendDate">Arve väljastamine</label>
                            <input type="text" id="invoiceSendDate" th:field="*{invoiceSendDate}" placeholder="10" required>
                            <div class="invalid-feedback">
                                Please provide a valid day of month.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 mb-2">
                            <label for="price">Renditasu</label>
                            <input type="text" id="price" th:field="*{price}" placeholder="300.00" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="vat">Käibemaksumäär</label>
                            <input type="text" id="vat" th:field="*{vat}" placeholder="0.2" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <h4>Üürileandja andmed</h4>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="ownerName">Üürileandja nimi</label>
                            <input type="text"  id="ownerName" th:field="*{ownerName}" placeholder="Peeter Pakiraam" required>
                            <div class="invalid-feedback">
                                Valid name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="ownerCode">Üürileandja isikukood/ reg.kood</label>
                            <input type="text"  id="ownerCode" th:field="*{ownerCode}" placeholder="38232322122" required>
                            <div class="invalid-feedback">
                                Valid code is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="ownerEmail">Üürileandja email</label>
                            <input type="text"  id="ownerEmail" th:field="*{ownerEmail}" placeholder="peeter@pakiraam.ee" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="ownerAddress">Üürileandja aadress</label>
                            <input type="text" id="ownerAddress" th:field="*{ownerAddress}" placeholder="Tõnismäe 79-20, Tallinn" required>
                            <div class="invalid-feedback">
                                Valid address is required.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6 mb-2">
                            <label for="ownerBankAccount">Üürileandja pangakonto</label>
                            <input type="text" id="ownerBankAccount" th:field="*{ownerBankAccount}" placeholder="EE192200221100150111" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="ownerBank">Üürileandja panga nimi</label>
                            <input type="text" id="ownerBank" th:field="*{ownerBankName}" placeholder="Swedbank AS" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <h4>Üürilevõtja andmed</h4>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="customerName">Üürilevõtja nimi</label>
                            <input type="text" id="customerName" th:field="*{customerName}" placeholder="Klient Kuusikult" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="customerCode">Üürilevõtja isikukood/ reg.kood</label>
                            <input type="text" id="customerCode" th:field="*{customerCode}" placeholder="38232322122" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="customerEmail">Üürilevõtja email</label>
                            <input type="text" id="customerEmail" th:field="*{customerEmail}" placeholder="klient@kuusikult.ee" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="customerAddress">Üürilevõtja aadress</label>
                            <input type="text" id="customerAddress" th:field="*{customerAddress}" placeholder="Sõpruse pst 178-11, Tallinn" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6 mb-2">
                            <label for="customerPhone">Üürilevõtja telefon <span class="text-muted">(Optional)</span></label>
                            <input type="text" id="customerPhone" th:field="*{customerPhone}" placeholder="55332211" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Salvesta</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:src="@{/css/datepicker.js}"></script>
    <script>
        $( function() {
            $('[data-toggle="datepicker"]').datepicker({
                format: 'dd/mm/yyyy'
            });
            $('input').click(function() {
                var label = $("label[for='" + $(this).attr('id') + "']");
                label.addClass("label-focus");
            })
        });
    </script>
    </div>
</body>
</html>