<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans:300|Oswald|Raleway:500|Roboto:300" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 5rem;
            background-color: #f8f9fa;
            font-family: "Roboto", sans-serif;
        }
        .ccard {
            background-color: #fff !important;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        .btn:focus,.btn:active {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>
    <title>flats.ee</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container mb-3">
        <h4 class="d-inline">Lisa leping
        </h4>
    </div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-12 shadow rounded ccard">
                <form class="mb-3 mt-3" th:action="@{/units/{id}/contracts(id=${unitId})}" th:object="${contract}" method="post">
                    <h4>Lepingu andmed</h4>
                    <div class="alert text-danger" role="alert">
                        <small th:if="${info}" th:text="${info}">In case alert is needed</small>
                    </div>
                    <div class="form-group row">
                        <label for="contractNumber" class="col-sm-2 col-form-label col-form-label-sm">Lepingu number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="contractNumber" th:field="*{contractNumber}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contractObjectAddress" class="col-sm-2 col-form-label col-form-label-sm">Objekti aadress<sup>(a)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="contractObjectAddress" th:field="*{contractObjectAddress}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contractObjectRoom" class="col-sm-2 col-form-label col-form-label-sm">Toa number<sup>(a)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="contractObjectRoom" th:field="*{contractObjectRoom}" placeholder="1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="isVATRequired" class="col-sm-2 col-form-label col-form-label-sm">Käibemaksukohustuslane<sup>(a)</sup></label>
                        <div class="col-sm-6">
                            <input type="checkbox" id="isVATRequired" th:field="*{VATRequired}" th:checked="*{VATRequired}"/>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2 col-form-label col-form-label-sm">Üüritasu<sup>(a)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="price" th:field="*{price}" placeholder="300.00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contractTerm" class="col-sm-2 col-form-label col-form-label-sm">Kehtivusaeg</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control form-control-sm" id="contractTerm" th:field="*{contractTerm}" placeholder="15/04/2018">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="invoiceSendDate" class="col-sm-2 col-form-label col-form-label-sm">Arve kuupäev<sup>(a)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="invoiceSendDate" th:field="*{invoiceSendDate}" placeholder="10">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="ownerName" class="col-sm-2 col-form-label col-form-label-sm">Omaniku nimi<sup>(a)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerName" th:field="*{ownerName}" placeholder="Peeter Pakiraam">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownerCode" class="col-sm-2 col-form-label col-form-label-sm">Omaniku reg.kood/ isikukood<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerCode" th:field="*{ownerCode}" placeholder="38232322122">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownerAddress" class="col-sm-2 col-form-label col-form-label-sm">Omaniku aadress</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerAddress" th:field="*{ownerAddress}" placeholder="Tõnismäe 79-20, Tallinn">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownerPhone" class="col-sm-2 col-form-label col-form-label-sm">Omaniku telefon</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerPhone" th:field="*{ownerPhone}" placeholder="5500391">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownerEmail" class="col-sm-2 col-form-label col-form-label-sm">Omaniku email<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerEmail" th:field="*{ownerEmail}" placeholder="peeter@pakiraam.ee">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownerBankAccount" class="col-sm-2 col-form-label col-form-label-sm">Omaniku pangakonto nr<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerBankAccount" th:field="*{ownerBankAccount}" placeholder="EE192200221100150862">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownerBank" class="col-sm-2 col-form-label col-form-label-sm">Omaniku pank<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="ownerBank" th:field="*{ownerBankName}" placeholder="Swedbank AS">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="customerName" class="col-sm-2 col-form-label col-form-label-sm">Kliendi nimi<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerName" th:field="*{customerName}" placeholder="Klient Kuusikult">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customerCode" class="col-sm-2 col-form-label col-form-label-sm">Kliendi reg.kood/ isikukood</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerCode" th:field="*{customerCode}" placeholder="38232322122">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customerAddress" class="col-sm-2 col-form-label col-form-label-sm">Kliendi aadress<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerAddress" th:field="*{customerAddress}" placeholder="Sõpruse pst 178-11, Tallinn">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customerPhone" class="col-sm-2 col-form-label col-form-label-sm">Kliendi telefon</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerPhone" th:field="*{customerPhone}" placeholder="55332211">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customerEmail" class="col-sm-2 col-form-label col-form-label-sm">Kliendi email<sup>(A)</sup></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-sm" id="customerEmail" th:field="*{customerEmail}" placeholder="klient@kuusikult.ee">
                        </div>
                    </div>
                    <div class="form-group">
                        <button th:type="submit" class="btn btn-outline-primary btn-sm" >Salvesta</button>
                    </div>

                </form>
            </div>

        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>