body {
    padding-top: 5rem;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}
.w80 {
    width: 70%;
}
.container {
    background-color:#fff;
}
h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: left;
    margin: 0 4rem;
    font-weight: 700;
}
h4 {
    color:#ced4da;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
form {
    margin: 0 4rem;
}
input {
    display: block;
    border: 0;
    border-bottom: 1px solid #ced4da;
    width: 100%;
    padding: .2rem;
    font-size: 0.8rem;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}
label {
    display: inline-block;
    font-size: .72rem;
    font-weight: 700;
    color:#a9abad;
    text-transform: uppercase;
    margin: 0;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5rem + 2px);
    padding: .2rem 1.75rem .2rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-image: url("../images/arrow_down.svg");
    background-size: 12px 12px;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    outline-color:#fff;
}
.input-calendar {
    vertical-align: middle;
    background-image: url("../images/calendar.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center right;
}
input:focus {
    border-color: royalblue;
}
.label-focus {
    color: royalblue;
}
.active {
    color:royalblue;
}
.shadow {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}
.btn-primary {
    background-color: royalblue;
    border-color: royalblue;
}
.btn-primary:hover {
    background-color: rgb(93, 126, 224);
    border-color: rgb(93, 126, 224);
}
.alert {
    margin: 0 4rem;
    padding: .75rem 0;
}