body {
    padding-top: 5rem;
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
}
.ccard {
    background-color: #fff !important;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.hidden {
    display: none;
}
.popover-body p:last-child {
    margin-bottom: 0;
}

input::-webkit-input-placeholder {
    color: gainsboro !important;
}
input::-moz-placeholder {
    color: gainsboro !important;
}
input:-moz-placeholder { /* Older versions of Firefox */
    color: gainsboro !important;
}
input:-ms-input-placeholder {
    color: gainsboro !important;
}