<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans:300|Oswald|Raleway:500|Roboto:300" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 5rem;
            background-color: #f8f9fa;
            font-family: "Roboto", sans-serif;
        }
        .ccard {
            background-color: #fff !important;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        .btn:focus,.btn:active {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>
    <title>flats.ee</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container mb-3">
        <h4 class="d-inline">Lisa arve
        </h4>
    </div>
    <main role="main" class="container">
        <div class="row mb-5">
            <div class="col-sm-12 shadow rounded ccard">
                <form class="mb-3 mt-3" th:action="@{/contracts/{id}/invoices(id=${contractId})}" th:object="${invoice}" method="post">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4 th:field="*{ownerName}">POCOS OÜ</h4>
                            <div class="alert text-danger" role="alert">
                                <small th:if="${info}" th:text="${info}">In case alert is needed</small>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="customerName" class="col-sm-3 col-form-label col-form-label-sm">Arve saaja</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" id="customerName" th:field="*{customerName}" placeholder="Priit Pett">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customerAddress" class="col-sm-3 col-form-label col-form-label-sm">Aadress</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" id="customerAddress" th:field="*{customerAddress}" placeholder="Õismäe tee 154-231, Tallinn">
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="iNumber" class="col-sm-3 col-form-label col-form-label-sm">Arve number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" id="iNumber" th:field="*{iNumber}" placeholder="A1312313" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sendDate" class="col-sm-3 col-form-label col-form-label-sm">Väljastatud</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control form-control-sm" id="sendDate" th:field="*{sendDate}" placeholder="10/12/2018">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="invoiceTerm" class="col-sm-3 col-form-label col-form-label-sm">Maksetähtaeg</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control form-control-sm" id="invoiceTerm" th:field="*{invoiceTerm}"  placeholder="10/12/2019">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customerReference" class="col-sm-3 col-form-label col-form-label-sm">Viitenumber</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" id="customerReference" th:field="*{customerReference}" placeholder="Peeter Pakiraam" disabled>
                                </div>
                                <input type="hidden" id="title" th:field="*{title}" hidden>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <table id="tblProducts" class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Teenus</th>
                                    <th scope="col">Kogus</th>
                                    <th scope="col">Hind</th>
                                    <th scope="col">Summa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="invoiceRow, itemStat : *{invoiceRows}">
                                    <td ><input type="hidden" th:field="*{invoiceRows[__${itemStat.index}__].id}" /></td>
                                    <td><input th:field="*{invoiceRows[__${itemStat.index}__].title}" /></td>
                                    <td><input class="quantity text-right" th:name="|invoiceRows[${itemStat.index}].quantity|"  th:id="|invoiceRows${itemStat.index}.quantity|" th:value="${#numbers.formatDecimal(invoiceRow.quantity,1,2)}"/></td>
                                    <td><input class="unitPrice text-right" th:name="|invoiceRows[${itemStat.index}].unitPrice|" th:id="|invoiceRows${itemStat.index}.unitPrice|" th:value="${#numbers.formatDecimal(invoiceRow.unitPrice,1,2)}"/></td>
                                    <td><input class="rowPrice text-right" th:name="|invoiceRows[${itemStat.index}].rowPrice|" th:id="|invoiceRows${itemStat.index}.rowPrice|" th:value="${#numbers.formatDecimal(invoiceRow.rowPrice,1,2)}"disabled/></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Tasuda:</td>
                                        <td><input class="sum text-right" id="sum" name="sum" th:value="${#numbers.formatDecimal(invoice.sum,1,2)}"/></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a href="#" id="addbtn" class="btn btn-outline-primary btn-sm">Lisa rida</a>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <button th:type="submit" class="btn btn-outline-primary btn-sm" >Salvesta</button>
                    </div>

                </form>
            </div>

        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function($) {
            var tmpid = $('#tblProducts > tbody > tr').length;
            if ( tmpid == null)  {
                tmpid = 1;
            }

            $("#addbtn").click(function(e) {
                e.preventDefault();
                str1 = '<td></td>\n<td><input class="title" id="invoiceRows'+ tmpid +'.title" name="invoiceRows['+ tmpid +'].title" placeholder="Toode"/></td>';
                str2 = '<td><input class="quantity text-right" id="invoiceRows'+ tmpid +'.quantity" name="invoiceRows['+ tmpid +'].quantity" placeholder="0.00" /></td>';
                str3 = '<td><input class="unitPrice text-right" id="invoiceRows'+ tmpid +'.unitPrice" name="invoiceRows['+ tmpid +'].unitPrice" placeholder="0.00"/></td>';
                str4 = '<td><input class="rowPrice text-right" id="invoiceRows'+ tmpid +'.rowPrice" name="invoiceRows['+ tmpid +'].rowPrice" placeholder="0.00" disabled/></td>';
                $('#tblProducts > tbody').append('<tr>'+str1+str2+str3+str4+'</tr>');
                tmpid++;
            });

            $('.pnm, .subtot, .grdtot').prop('readonly', true);
            $(document).on('keyup change', '#tblProducts tr input', function () {
                var $tblrows = $("#tblProducts tbody tr");
                $tblrows.each(function (index) {
                    var $tblrow = $(this);
                    $tblrow.find('.quantity, .unitPrice').on('change', function () {
                        var qty = $tblrow.find("input[id$='quantity']").val();
                        var price = $tblrow.find("input[id$='unitPrice']").val();
                        var subTotal = parseFloat(qty) * parseFloat(price);
                        console.log("Calc: " +qty + ", " +price+ ", "+subTotal);

                        if (!isNaN(subTotal)) {
                            $tblrow.find("input[id$='rowPrice']").val(subTotal.toFixed(2));
                            var grandTotal = 0;

                            $("input[id$='rowPrice']").each(function () {
                                var stval = parseFloat($(this).val());
                                grandTotal += isNaN(stval) ? 0 : stval;
                            });

                            $('#sum').val(grandTotal.toFixed(2));
                        }
                    });
                });
            });
        });
    </script>
</div>
</body>
</html>