<html lang="et" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>nop</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        body, table, input, button {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/users">User</a>
</div>
<table class="table table-hover text-muted">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Enabled</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" >
        <th scope="row"></th>
        <td th:text='${user.username}'></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.enabled}"></td>
    </tr>
    </tbody>
</table>

<h2 th:text="${message}"></h2>
<form th:action="@{/logout}" method="post">
    <input value="Logout" type="submit">
</form>
</body>
</html>