<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">
    <nav sec:authorize="isAuthenticated()" class="navbar navbar-expand-md navbar-light fixed-top bg-light py-0">
        <a class="navbar-brand" href="/" th:alt="flats.ee">
            <img th:src="@{/images/flats.png}" width="40px" height="40px" alt="flats_logo"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/units">Units <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/contracts">Contracts</a>
                </li>
            </ul>

            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="text-primary" href="/logout">Logi välja</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>